<div class="latest_stats"><%= @latest_stats[:deck] %>:  Latest score: <%= @latest_stats[:current_score] %>%</div>

<div class="all-stats>"><%= @latest_stats[:deck] %>:  Average score: <%= @latest_stats[:average_score] %>%</div>
