

<div class="container">
<form id="stats">
    <h2>Game Statistics</h2>
    <label><%= @latest_stats[:deck] %></label>
    <input id="text_input" type="text" class="span3" placeholder=<%= @latest_stats[:current_score] %>>
    <label><%= @latest_stats[:deck] %></label>
    <input id="text_input" type="text" class="span3" placeholder=<%= @latest_stats[:current_score] %>>
   
    </form>
    </div>
